.SiteHeader {
  background-color: cadetblue;
  width: 100%;
  @include flexCenter(row);
  padding: 10px 0;
}

.SiteHeader__container {
  max-width: $maxContainerWidth;
  width: 100%;
  @include flexCenter(row);
  justify-content: space-between;
  margin: 0 2rem 0 2rem;
}

// Logo
.SiteHeader__logo {
  a {
    color: $fontLight;
    font-size: $headerFontSize + 0.6rem;
    text-decoration: none;
    letter-spacing: -0.095rem;
  }
  a:hover {
    @include hoverFade();
  }
}

// Nav
.SiteHeaderNav {
  @include flexCenter(row);
}
.SiteHeaderNav__item {
  padding: 0 1rem;
  list-style: none;
  .SiteHeaderNav__link {
    color: $fontLight;
    font-weight: $headerButtonWeight;
    font-size: $headerFontSize;
    @include formatButton();
  }

  .SiteHeaderNav__link:hover {
    @include hoverFade();
  }
}

// Sign in
.HeaderSignInButton {
  background: $semiTransparent;
  @include roundedButton();
  @include flexCenter(row);
  text-decoration: none;
  padding: 0.45rem 0.9rem;
  transition: color $hoverTransitionTime;

  .HeaderSignInButton__label {
    color: $fontLight;
    font-size: $headerFontSize;
    font-weight: $headerButtonWeight;
    transition: color $hoverTransitionTime;
  }
  .HeaderSignInButton__arrow {
    padding: 0 0 0 0.4rem;
    width: 0.8rem;
    height: 0.8rem;
    color: $fontLight;
    transition: color $hoverTransitionTime;
  }
}
.HeaderSignInButton:hover {
  @include hoverLighten();
  .HeaderSignInButton__label {
    color: $fontDark;
  }
  .HeaderSignInButton__arrow {
    width: 0.8rem;
    height: 0.8rem;
    color: $fontDark;
  }
}
