@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin formatButton() {
  cursor: pointer;
  border: none;
  background: none;
}

@mixin hoverFade() {
  opacity: 0.5;
  transition: opacity ease-in-out 0.1s;
}

@mixin hoverLighten() {
  background-color: $fontLight;
  opacity: 0.3;
  transition: opacity ease-in-out 0.1s;
  transition: background-color ease-in-out 0.1s;
}

@mixin roundedButton() {
  border-radius: 25px;
}
