// Fonts
$fontLight: #fff;
$fontDark: #425466;
$headerButtonWeight: 700;
$headerFontSize: 0.95rem;

// Containers
$maxContainerWidth: 1112px;
$semiTransparent: rgba(255, 255, 255, 0.2);
$hoverTransitionTime: ease-in-out 0.1s;
